/* CSS here */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 1.6;
}

.profile-section {
    margin-top: 20px;
}

.age-info h2 {
    color: var(--main-color);
}

.description p {
    max-width: 100%;
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
}

.description a {
    color: royalblue;
    text-decoration: none;
    font-weight: 600;
    font-style: inherit;
}

.user-info {
    margin-top: 20px;
}

.user-info h1 {
    font-size: 25px;
    margin-top: 10px;
}

.profile-section .user-info img {
    height: 130px;
    border: 3px solid #dadada;
    border-radius: 50%;
    object-fit: cover;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.readmore {
    margin-top: 23px;
}

.readmore button {
    height: 44px;
    width: 126px;
    font-size: 15px;
    background: orange;
    border: 1px solid #dadada;
    border-radius: 35%;
    cursor: pointer;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .description p {
        font-size: 16px;
        max-width: 100%;
        margin-left: 0;
    }

    .user-info h1 {
        font-size: 20px;
    }

    .profile-section .user-info img {
        height: 100px;
    }
}
p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
}
a {
    color: royalblue;
    text-decoration: none;
    font-weight: 600;
    font-style: inherit;
  }