@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #222327;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 1.6;
    transition: all .50s ease;
}
button {
    height: 35px;
    width: 110px;
    font-size: 14px;
    border: 1px solid #dadada;
    border-radius: 9px;
    transition: all .50s ease;
    cursor: pointer;
}
.about_my_school {
    margin-top: 16px;
}
.profile-section {
    margin-top: 20px;
}

.age-info h2 {
    color:#29fd53;
}

.description p {
    max-width: 100%;
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
}

.description a {
    color: royalblue;
    text-decoration: none;
    font-weight: 600;
    font-style: inherit;
}

.user-info {
    margin-top: 20px;
}

.user-info h1 {
    font-size: 25px;
    margin-top: 10px;
}

.profile-section .user-info img {
    height: 200px;
    border: 3px solid #dadada;
    border-radius: 50%;
    object-fit: cover;
}
.readmore {
    margin-top: 23px;
}

.readmore button {
    height: 44px;
    width: 126px;
    font-size: 15px;
    background: orange;
    border: 1px solid #dadada;
    border-radius: 35%;
    cursor: pointer;
}
.other img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
}
.other {
    margin-top: 56px;
    display: flex;
    gap: 30px;
}
.social_icon {
    display: flex;
    gap: 21px;
    margin-top: 60px;
}
a {
    color: white;
    font-size: 27px;
}
.copyright .love{
    text-align: center;
    font-size: 1.1rem;
    margin-top: 50px;
}  
.user-info p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
    width: 1051px;
}
.brother a {
    color: white;
    font-size: 17px;
    text-align: start;
    margin-left: -208px;
}
.classmate_bestfriend a {
    color: white;
    font-size: 17px;
    text-align: start;
    margin-left: -208px;
}
/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .description p {
        font-size: 16px;
        max-width: 100%;
        margin-left: 0;
    }

    .user-info h1 {
        font-size: 20px;
    }

    .profile-section .user-info img {
        height: 100px;
    }
    .other {
        margin-top: 56px;
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
.user-info p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
    width: 467px;
}
.brother a {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 0;
}
.classmate_bestfriend a {
   text-align: center;
   justify-content: center;
   display: flex;
   margin-left: 0;
}
}